$maxContentWidth: 92vw;

.grid {
  max-width: $maxContentWidth;
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  display: grid;

  // min-content allows me to set a fixed height to my footer
  grid-template-rows: min-content auto min-content;
}
  
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
  
.backToHome {
  margin: 3rem 0 0;
}

.underline {
  text-decoration: underline;
}

.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  text-align: center;
  font-size: 0.75rem;
  padding: 1rem 0;
}
