$maxContentWidth: 70ch;

.grid {
  // width: min(70ch, 90vw);
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  // display: grid;

  // // min-content allows me to set a fixed height to my footer
  // grid-template-rows: min-content auto min-content;
}
  
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  padding-block: 2rem;
}
  
.backToHome {
  margin: 3rem 0 0;
}

.underline {
  text-decoration: underline;
}

.footer {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 0;
}
