.grid {
    display: grid;
    gap: 40px;
    padding: 20px;
    grid-template-columns: repeat(auto-fill, minmax(441px, 1fr));

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: orange;
        padding: 4rem 0;
    }
}
@media (max-width: 1620px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

// 500px*3 + 80px + 40px = 1620px
// 500px*4 + 120px + 40px = 2160px > 1920px, so it will display 3 columns on 1920px;
// (1920px - 120px - 40px) / 4 = 440px;
// minmax starts with 441px;
