$color-bg-code: #fdf6e3;
$color-text: #373737;
$font-text: 'Rubik', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
$font-heading: "";

html {
  font-size: 62.5%;
}
body {
  padding: 0;
  margin: 0;
  font-family: $font-text;
  line-height: 1.5;
  font-size: clamp(1.6rem, calc(1.6rem + ((1vw - 0.32rem) * 0.5882)), 2rem);
  color: $color-text;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-text;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

img {
  max-width: 100%;
  display: block;
}

pre {
  background-color: $color-bg-code;
  padding: 0 2rem 0 4rem !important;
  border-radius: 5px;
  // Add important to overwrite prism theme css
  margin: 5rem 0 !important;
  overflow-x: auto;

  & code {
    background-color: none;
    // Add important to overwrite prism theme css
    font-size: 1.5rem !important;
    line-height: 1.2 !important;
    padding: 0 !important;
  }
}

@media (max-width: 992px) {
  pre {
    padding: 0 2rem !important;
  }
}

code {
  background-color: $color-bg-code;
  border-radius: 3px;
  padding: 0.3rem 0.7rem;
}

article {
  max-width: 70ch;
  margin: 0 auto;
}
