$color-light-gray: #f1f1f1; 
$color-bg-code: #2d2d2d;


.welcome {
  position: relative;
  height: 40vh;
}
.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: clamp(3.2rem, calc(3.2rem + ((1vw - 0.32rem) * 1.1765)), 4rem);
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
    font-size: clamp(1.6rem, calc(1.6rem + ((1vw - 0.32rem) * 0.5882)), 2rem);
  }
  
  .lightText {
    color: #666;
    font-size: 1.2rem;
  }

  .profile {
    object-fit: cover;
  }
  

  .backToBlog {
    margin-top: 4rem;
    display: inline-block;
    position: relative;
    padding-left: 2rem;

    &::before {
      position: absolute;
      content: "";
      width: 1.2rem;
      height: 1.2rem;
      top: 50%;
      left: 0;
      border-top: 2px solid;
      border-left: 2px solid;
      transform: translateY(-50%) rotate(-45deg);
    }

    &:hover {
      text-decoration: underline;
    }
  }

.postDate {
  border-bottom: 1px solid $color-light-gray;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
}

.has-arrow-left-1 {
  position: relative;
}

.has-arrow-left-1::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  border-top: 2px solid;
  border-left: 2px solid;
}